@import '../styles/index.scss';

.buttonProfile {
    font-family: $primary-font;
    width: 5rem;
    background-color: $primary-color;
    font-size: $medium-size;
    padding: 0.5rem;
    color: #fff;
    border: 0;
    border-radius: $border-radius;
}

.buttonProfile:hover {
    background-color: $primary-color-hover;
}

.buttonProfile:active {
    background-color: $primary-color-active;
}