@import '../styles/index.scss';

.home_title {
    display: flex;
    flex-direction: column;
    font-weight: $bold-weight;
    font-size: 5.709rem;
    padding: 0;
    margin: 0;
}

.home_title_text {
    padding: 0;
    margin: 0;
}

span {
    padding: 0;
    margin: 0;
}