@import '../styles/index.scss';

.grid_container_myFavorites {
    display: grid;
    padding-top: 5.938rem;
    padding-left: 5.938rem;
    padding-right: 5.938rem;
    padding-bottom: 5.938rem;
    grid-gap: $grid-gap;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar sidebar sidebar main main main main main main main main main"
}

.main_favorites_page {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: $grid-gap;
}

.sidebar_favorites_page {
    grid-area: sidebar;
    padding: 0;
}

.my-favorites-title {
    font-size: $large-size;
    color: $primary-color;
    font-weight: $bold-weight;
}

@media (max-width: 1185px) {
    .grid_container_myFavorites {
        padding-left: 4.063rem;
        padding-right: 4.063rem;
        grid-template: 2fr / 3fr;
        grid-template-areas: "sidebar"
                            "main";
    }
}

@media (max-width: 900px) {
    .main_favorites_page {
        grid-area: main;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: $grid-gap;
    }
}

@media (max-width: 600px) {
    .grid_container_myFavorites {
        padding-top: 9rem;
        padding-left: 2.188rem;
        padding-right: 2.188rem;
        grid-template: 2fr / 2fr;
        grid-template-areas: "sidebar"
                            "main";
    }
    .main_favorites_page {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $grid-gap;
    }
}