@import '../styles/index.scss';


.MuiToolbar-root{
    background-color: $background-body-color;
    color: $primary-color;
}
.searchIcon {
    color: white
}

// .MuiSvgIcon-root{
//     color: $primary-color;

// }
.MuiInputBase-root{
    position: absolute;
    background-color: white;
    border-radius: 0.3rem;
    width: 100%;
}
.makeStyles-searchIcon-3 {
    color: #5C74FF;
    height: 100%;
    display: flex;
    padding: 0px 16px;
    z-index: 200;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}
.makeStyles-searchIcon-4 {
    color: #5C74FF;
    height: 100%;
    display: flex;
    padding: 0px 16px;
    z-index: 200;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}

.okageLogo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.navBar {
    border-bottom: 0.02rem solid rgb(212, 212, 212);
}

